<h3 id="title" style="color: blue">Details</h3>
<div *ngIf="scientist">

    <h3>{{scientist.name}}</h3>
    
    <div><span>ID: </span>{{scientist.id}}</div>
    <div><span>Birth: </span>{{scientist.birth}}</div>
    <div><span>Death: </span>{{scientist.death}}</div>
    <div><span>Nationality: </span>{{scientist.nationality}}</div>
    
    <div>
        <label for="scientist-name">Change scientist's name: </label>
        <input id="scientist-name" [(ngModel)]="scientist.name" placeholder="scientist name"/>
    </div>
    
    <button type="button" (click)="save()">Save</button>
    <button type="button" (click)="goBack()">Go back</button>

</div>
