<h2>List of scientists</h2>

<ul class="scientists">
    <li *ngFor="let scientist of scientists">
        
        <a routerLink="/detail/{{scientist.id}}">
            <span class="badge">{{scientist.id}}</span>{{scientist.name}}
        </a>
        
        <button type="button" class="delete" title="delete scientist"
            (click)="delete(scientist)">x</button>

    </li>
</ul>

<div>
    <label for="new-scientist">Scientist's name: </label>
    <input id="new-scientist" #scientistName />
    <button type="button" class="add-button" (click)="add(scientistName.value)">Add scientist</button>
</div>